.project
.pydevproject
*.swp
.DS_Store
*.orig
.installed.cfg
google_credentials.txt

.idea*
*~
*.db
*.pyc
*.pot
*.html.py
.project*
*.pid
*.out
*.sql
*.dump
.coverage
*build*
dist*
*egg-info*
*_local.sh
*.log
/nbproject
local
local.py
/media
manage_local.py
l_manage.py
locale/*/LC_MESSAGES/*.mo
local_settings.py
/cache
/images
db.sqlite3
